@import '@duik/core/_vars.scss';

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  z-index: 500;
  background: $bg-primary;
  border: $border-default-darker;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  list-style: none;
  min-width: 140px;
  padding: 0;
  margin: 0;
  float: none;
  max-height: 240px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  // default position
  top: 100%;
  right: 0;


  &>* {
    &:first-child {
      border-top-left-radius: 4px !important;
      border-top-right-radius: 4px !important;
    }

    &:last-child {
      border-bottom-left-radius: 4px !important;
      border-bottom-right-radius: 4px !important;
    }
  }

  &.show {
    display: block;
  }


  &.bottom-right {
    top: calc(100% + 3px);
    left: 0;
    right: auto;
    bottom: auto;
  }

  &.bottom-left {
    top: calc(100% + 3px);
    left: auto;
    right: 0;
    bottom: auto;
  }

  &.bottom-center {
    top: calc(100% + 3px);
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translateX(-50%);
  }

  &.top-right {
    bottom: calc(100% + 3px);
    left: 0;
    right: auto;
    top: auto;
  }

  &.top-left {
    bottom: calc(100% + 3px);
    left: auto;
    right: 0;
    top: auto;
  }

  &.top-center {
    bottom: calc(100% + 3px);
    left: 50%;
    transform: translateX(-50%);
    top: auto;
    right: auto;
  }
}

.dropdown-toggle {
  background: $bg-primary;
  border-color: $border-color-main;
  position: relative;
  padding-right: 1.8rem;

  &:after,
  &:before {
    color: inherit;
    opacity: .5;
    display: flex;
    font-size: .6rem;
    content: "▸";
    border: none;
    position: absolute;
    right: 10px;
  }

  &:after {
    transform: translateY(-3px)rotate(270deg);
  }

  &:before {
    transform: translateY(3px) rotateY(180deg) rotate(90deg);
  }
}

.dropdown-item {

  background: $bg-primary;

  &,
  &:hover,
  &:focus,
  &:active {
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom-color: $border-color-base;
    color: $text-main;

    &:last-child {
      border-bottom: none;
    }
  }

  &:hover,
  &:focus {
    background: $bg-base;
  }

  &:active {
    transform: translateY(1px);
  }
}