@import "@duik/core/_vars.scss";

a.base:hover {
  text-decoration: none !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all 0.1s ease-in-out 0s;
  font-weight: 400;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.125rem;
  padding-right: 1.125rem;
  justify-content: center;

  // assume icon
  &>i:first-child {
    margin-left: -6px;
  }

  &>i:last-child {
    margin-right: -6px;
  }

  &:not(:disabled),
  &:not(:global(.disabled)),
  &:not(.loading) {
    cursor: pointer;
  }

  /** SIZES **/

  &.btn-block {
    display: flex;
    width: 100%;
  }

  @include btn;

  &.btn-sm {
    @include btn-sm;
  }

  &.btn-lg {
    @include btn-lg;
  }

  &>* {
    transition: 0.1s all;
  }

  &:focus {
    outline: none;
  }
}

/** LOADING STATE **/

.btn {
  .btn-loader {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn.btn-loading {
  color: transparent !important;
  cursor: none;
  pointer-events: none;

  &>* {
    opacity: 0;
  }

  &>.btn-loader {
    opacity: 1;

    * {
      background: $text-base;
    }
  }
}

.btn-primary,
.btn-success,
.btn-danger,
.btn-danger,
.btn-error,
.btn-warning,
.btn-info,
.btn-secondary {
  &.btn-loading>.btn-loader {
    opacity: 1;

    * {
      background: white;
    }
  }
}

/*Basic Appearence*/
.btn {
  background: $bg-main;
  box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.05);

  background-image: linear-gradient(0deg, #f6f7f9 0%, #ffffff 100%);
  box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.05),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.05);

  border: $border-default-main;
  color: $text-main;
  border-radius: 4px;

  &:hover {
    background-image: linear-gradient(0deg, #f6f7f9 0%, #ffffff 100%);
    border: 1px solid #cacedb;
  }

  &:focus {
    background-image: linear-gradient(0deg, #f6f7f9 0%, #ffffff 100%);
    border: 1px solid #bdc2d1;
  }

  &:active {
    transform: translate(1px, 1px);
  }
}

.btn.noBorder {
  border: none !important;
  background: white;
  box-shadow: none;

  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  }

  &:focus {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.1);
  }
}

/*Colors*/
.btn.btn-transparent {
  background: transparent;
  box-shadow: none;

  color: inherit;

  &:active,
  &:hover,
  &:focus,
  &.active {
    background: transparent;
  }
}

.btn.btn-secondary {
  color: white;
  background: rgba(#3e3f42, 0.6);
  border: 1px solid rgba(#3e3f42, 0.8);

  &:hover {
    background: rgba(#3e3f42, 0.7);
    border: 1px solid rgba(#3e3f42, 0.9);
  }

  &:focus,
  &:checked,
  &.active {
    background: rgba(#3e3f42, 0.75);
    border: 1px solid rgba(#3e3f42, 0.9);
    border: 1px solid #1a8628;
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1);
    }
  }
}

.btn.btn-success {
  color: white;
  background: $color-success;

  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1);

  background-image: linear-gradient(0deg, #34aa44 0%, #38b249 100%);
  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

  border: 1px solid #2d9c3c;

  &:hover {
    background-image: linear-gradient(0deg, #2ca13c 2%, #2fae40 100%);
    border: 1px solid #259835;
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.18),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.18);
    }
  }

  &:focus,
  &:checked,
  &.active {
    background-image: linear-gradient(0deg, #259835 0%, #27a337 100%);
    border: 1px solid #1a8628;
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.1);
    }
  }
}

.btn.btn-error,
.btn.btn-danger {
  color: white;
  background: $red;
  background-image: linear-gradient(-180deg, #e73c1e 0%, #cf3014 100%);
  border: 1px solid #ba0b15;
  box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.1),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.08);

  &:hover {
    background-image: linear-gradient(-180deg, #df3517 0%, #c42b10 100%);
    border: 1px solid #b00b14;
    box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.18),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.08);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.18);
    }
  }

  &:focus,
  &:checked,
  &.active {
    background-image: linear-gradient(-179deg, #c22b10 0%, #b8280e 100%);
    border: 1px solid #a00a13;
    box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.1),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.08);
    border-radius: 4px;

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.1);
    }
  }
}

.btn.btn-primary {
  color: white;
  background: $color-primary;
  background-image: linear-gradient(-1deg, #1665d8 2%, #1f6fe5 98%);
  background-image: linear-gradient(0deg, #1665d8 0%, #1f6fe5 100%);
  border: 1px solid #1461d2;
  box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.1),
    inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

  &:hover {
    background-image: linear-gradient(0deg, #115ecf 0%, #1767db 100%);
    border: 1px solid #0e57c2;
    box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.18),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.18);
    }
  }

  &:focus,
  &:checked,
  &.active {
    background-image: linear-gradient(0deg, #0e55bd 0%, #0f5bca 100%);
    border: 1px solid #0b4aa5;
    box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.1),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.1);
    }
  }
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;

  &.icon {
    opacity: 0.3;
  }

  background: #747578;
  border: 1px solid #696a6e;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  color: $text-secondary;
}

.btn.btn-clear {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: $text-secondary;

  &:hover {
    color: $text-base;
  }

  &:hover,
  &:active,
  &:focus {
    background: transparent;
  }
}

/* Necessary if icon is present in <a> element
// otherwise it's not aligned to the text */

a.btn * {
  vertical-align: middle;
}

a.btn {
  text-decoration: none;
}