@import "@duik/core/_vars.scss";

a.base:hover {
  text-decoration: none !important;
}

.btn {
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  transition: all 0.1s ease-in-out 0s;
  font-weight: 400;
  position: relative;

  // assume icon
  &>i:first-child {
    margin-left: -6px;
  }

  &>i:last-child {
    margin-right: -6px;
  }


  &:not(:disabled),
  &:not(:global(.disabled)),
  &:not(.loading) {
    cursor: pointer;
  }

  /** SIZES **/

  &.btn-block {
    display: flex;
  }

  @include btn;

  &.btn-sm {
    @include btn-sm;
  }

  &.btn-lg {
    @include btn-lg;
  }



  &>* {
    transition: .1s all;
  }

  &:focus {
    outline: none;
  }
}

/** LOADING STATE **/

.btn {
  .btn-loader {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.btn.btn-loading {
  color: transparent !important;
  cursor: none;
  pointer-events: none;

  &>* {
    opacity: 0;
  }

  &>.btn-loader {
    opacity: 1;

    * {
      background: $text-base;
    }
  }
}

.btn-primary,
.btn-success,
.btn-danger,
.btn-danger,
.btn-error,
.btn-warning,
.btn-info,
.btn-secondary {

  &.btn-loading>.btn-loader {
    opacity: 1;

    * {
      background: white;
    }
  }
}



/*Basic Appearence*/
.btn {
  background: $bg-primary;
  box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.05);

  &:not(.btn-flat) {
    background-image: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 100%);
    box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.05),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.05);
  }

  border: $border-default-main;
  color: $text-main;
  border-radius: 4px;

  &:hover {

    &:not(.btn-flat) {
      background-image: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 100%);
    }

    border: 1px solid #CACEDB;
  }

  &:focus {
    &:not(.btn-flat) {
      background-image: linear-gradient(0deg, #F6F7F9 0%, #FFFFFF 100%);
    }

    border: 1px solid #BDC2D1;
  }

  &:active {
    transform: translate(1px, 1px);
  }
}


.btn.noBorder {
  border: none !important;
  background: white;
  box-shadow: none;

  &:hover {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.13);
  }

  &:focus {
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.10);
  }
}

/*Colors*/
.btn.transparent {
  background: transparent;
  border: 1px solid #E2E5ED;
  box-shadow: none;

  &:hover {
    border: 1px solid #CACEDB;
  }

  &:focus {
    border: 1px solid #BDC2D1;
  }
}

.btn.btn-secondary {
  color: white;
  background: rgba(#3E3F42, .6);
  border: 1px solid rgba(#3E3F42, .8);

  &:hover {
    background: rgba(#3E3F42, .7);
    border: 1px solid rgba(#3E3F42, .9);
  }

  &:focus,
  &:checked,
  &.active {
    background: rgba(#3E3F42, .75);
    border: 1px solid rgba(#3E3F42, .9);
    border: 1px solid #1A8628;
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.10), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.10);
    }
  }
}

.btn.btn-success {
  color: white;
  background: $color-success;

  box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.10);

  &:not(.btn-flat) {
    background-image: linear-gradient(0deg, #34AA44 0%, #38B249 100%);
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.10),
      inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
  }

  border: 1px solid #2D9C3C;

  &:hover {
    background-image: linear-gradient(0deg, #2CA13C 2%, #2FAE40 100%);
    border: 1px solid #259835;
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.18), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.18);
    }
  }

  &:focus,
  &:checked,
  &.active {
    background-image: linear-gradient(0deg, #259835 0%, #27A337 100%);
    border: 1px solid #1A8628;
    box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.10), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(19, 31, 21, 0.10);
    }
  }
}

.btn.btn-error,
.btn.btn-danger {
  color: white;
  background: $red;
  background-image: linear-gradient(-180deg, #E73C1E 0%, #CF3014 100%);
  border: 1px solid #BA0B15;
  box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.10), inset 0 2px 0 0 rgba(255, 255, 255, 0.08);

  &:hover {
    background-image: linear-gradient(-180deg, #DF3517 0%, #C42B10 100%);
    border: 1px solid #B00B14;
    box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.18), inset 0 2px 0 0 rgba(255, 255, 255, 0.08);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.18)
    }
  }

  &:focus,
  &:checked,
  &.active {
    background-image: linear-gradient(-179deg, #C22B10 0%, #B8280E 100%);
    border: 1px solid #A00A13;
    box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.10), inset 0 2px 0 0 rgba(255, 255, 255, 0.08);
    border-radius: 4px;

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(43, 26, 24, 0.10)
    }
  }
}

.btn.btn-primary {
  color: white;
  background: $color-primary;
  background-image: linear-gradient(-1deg, #1665D8 2%, #1F6FE5 98%);
  background-image: linear-gradient(0deg, #1665D8 0%, #1F6FE5 100%);
  border: 1px solid #1461D2;
  box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.10), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

  &:hover {
    background-image: linear-gradient(0deg, #115ECF 0%, #1767DB 100%);
    border: 1px solid #0E57C2;
    box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.18), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.18)
    }
  }

  &:focus,
  &:checked,
  &.active {
    background-image: linear-gradient(0deg, #0E55BD 0%, #0F5BCA 100%);
    border: 1px solid #0B4AA5;
    box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.10), inset 0 2px 0 0 rgba(255, 255, 255, 0.06);

    &.noBorder {
      box-shadow: 0 1px 1px 0 rgba(22, 29, 37, 0.10)
    }
  }
}


.base {
  display: inline-flex;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  height: 38px;
  padding: 0 18px;
  transition: all 0.1s ease-in-out 0s;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;

  &>* {
    transition: .1s all;
  }

  &>.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  &:active {
    border: 1px solid #eee;
    box-shadow: none;
    transform: translateY(0px);
  }



  //icon inisde the button
  //Button without backround and without hover or effect
}

.btn:disabled {
  cursor: not-allowed;
  pointer-events: none;

  &.icon {
    opacity: 0.3;
  }

  background: #747578;
  border: 1px solid #696A6E;
  box-shadow: inset 0 2px 0 0 rgba(255, 255, 255, 0.06);
  border-radius: 4px;
  color: $text-secondary;
}

.btn.btn-clear {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  color: $text-secondary;

  &:hover {
    color: $text-base;
  }
}

/* Necessary if icon is present in <a> element
// otherwise it's not aligned to the text */

a.commonButton * {
  vertical-align: middle;
}

a.commonButton {
  text-decoration: none;
}