.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  & > * {
    margin: auto;
  }
  padding: 5%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#131820, 0.6);
  z-index: 30000;
  top: 0;
  left: 0;

  transition: 0.2s all;

  &:global(.enter) {
    opacity: 0;
  }

  &:global(.exit) {
    opacity: 0;
  }
}
