.content {
  padding: 70px;
  background: white;
  max-width: 1200px;

  p {
    max-width: 760px;
  }

  h1,
  h2,
  h3,
  h4 {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 400;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  *+h1,
  *+h2,
  *+h3,
  *+h4,
  *+h5,
  *+h6 {
    margin-top: 2em;
  }

}