@import '@duik/core/_vars.scss';
.modal {
  background: $bg-main;
  border-radius: 4px;
  // border: $border-default-base;
  width: 100%;
  max-width: 760px;
  position: relative;

  &.sm {
    max-width: 560px;
  }
  &.lg {
    max-width: 1200px;
  }
  &.full {
    max-width: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: 500;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

.modal-body,
.modal-header,
.modal-footer {
  &:not(:last-child) {
    border-bottom: $border-default-base;
  }
}

.modal-body {
  padding: 30px;
  &.modal-body-secondary {
    background: $bg-base;
  }
}
.modal-header {
  padding: 24px 30px;
}
.modal-footer {
  padding: 20px 30px;
  display: flex;
}

.modal-btn-close {
  position: absolute;
  top: 20px;
  right: 15px;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
.modal-close-icon {
  display: block;
  position: relative;
  width: 12px;
  &:before,
  &:after {
    top: 0;
    left: 0;
    position: absolute;
    background: $bg-adverse-main;
    content: '';
    height: 2px;
    width: 12px;
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
}

// Overlay
.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  & > * {
    margin: auto;
  }
  padding: 5%;
  @media screen and (max-width: 768px) {
    padding: 30px;
  }
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
  width: 100vw;
  background-color: rgba(#131820, 0.6);
  z-index: 30000;
  top: 0;
  left: 0;

  transition: 0.2s all;

  &:global(.enter) {
    opacity: 0;
  }

  &:global(.exit) {
    opacity: 0;
  }
}
