/** Radius Mixins **/
@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-lerightft-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin padding-x($paddingX) {
  padding-left: $paddingX;
  padding-right: $paddingX;
}

$space: 30px;
$space-half: 30px;

$blue: #1665D8 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #E6492D !default;
$orange: #F6AB2F !default;
$yellow: #FACF55 !default;
$green: #38B249 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;


// media
$mediaMobile: "screen and (max-width: 768px)";
$mediaTablet: "screen and (max-width: 1024px)";
$mediaDesktopSmall: "screen and (max-width: 1366px)";
$fontFamily: 'Roboto',
sans-serif;
// basic
$bg: #FBFBFD;
// colors
$green: #38B249;
$blue: #1665D8;
$orange: #F6AB2F;
$violet: #6977FF;
$red: #E6492D;
$yellow: #FACF55;
$success: $green;
$primary: $blue;
$warning: $orange;
$error: $red;
// base color pairs
$colorPairs: (green, #38B249),
(blue, #1665D8),
(orange, #F6AB2F),
(violet, #6977FF),
(yellow, #FACF55),
(red, #E6492D);

// mixins
@mixin generateColorVariants($class, $property, $alpha) {

  @each $name,
  $color in (green, #38B249),
  (blue, #1665D8),
  (orange, #F6AB2F),
  (violet, #6977FF),
  (red, #E6492D) {
    #{$class}.#{$name} {
      #{$property}: rgba($color, $alpha);
    }
  }
}

@mixin textOverflow {
  overflow: hidden;
  white-space: nowrap;
}

@mixin backgroundCover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// others
$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);


// UIKIT

$bg: #FBFBFD;
$bgPrimary: #FFFFFF;
$fontFamily: 'Roboto',
sans-serif;
$bgPrimaryDark: #252529;

// Text colors
$textMain: #3E3F42;
$textBase: #6B6C6F;
$textSecondary: #9EA0A5;
$textLight: #CECFD2;


// border colors
$borderColor: #EAEDF3;
$borderColorBase: #EAEDF3;
$borderColorDarker: #D8DCE6;
$borderColorMain: #D8DCE6;
$borderColorDark: #2E2E33;

$textTertiary: #CECFD2;

@mixin themeVars {
  --text-main: #{$textMain};
  --text-base: #{$textBase};
  --text-secondary: #{$textSecondary};
  --text-tertiary: #{$textTertiary};
  --border-color: #{$borderColor};
  --border-color-base: #{$borderColorBase};
  --border-color-main: #{$borderColorDarker};
  --border-color-darker: #{$borderColorDarker};
  --border-color-dark: #{$borderColorDark};
  --border-color-secondary: #2D9C3C;
  --bg-base: #{$bg};
  --bg-primary: #{$bgPrimary};
  --bg-primary-dark: #{$bgPrimaryDark};
  --color-danger: #{$red};
  --color-primary: #{$blue};
  --color-secondary: #{$green};
  --color-success: #{$green};
  --color-warning: #{$orange};
  --gradient-secondary: linear-gradient(0deg, #34AA44 0%, #38B249 100%);
}

// USE THESE
$text-main: var(--text-main);
$text-base: var(--text-base);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);

$border-color: var(--border-color);
$border-color-base: var(--border-color-base);
$border-color-main: var(--border-color-main);
$border-color-darker: var(--border-color-darker);
$border-color-dark: var(--border-color-dark);
$border-color-secondary: var(--border-color-secondary);
$border-default-base: 1px solid var(--border-color-base);
$border-default-dark: 1px solid var(--border-color-dark);
$border-default-darker: 1px solid var(--border-color-darker);

$bg-base: var(--bg-base);
$bg-primary: var(--bg-primary);
$bg-primary-dark: var(--bg-primary-dark);

$color-danger: var(--color-danger);
$color-primary: var(--color-primary);
$color-success: var(--color-success);
$color-warning: var(--color-warning);
$color-secondary: var(--color-secondary);
$gradient-secondary: var(--gradient-secondary);


$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(("100": $gray-100,
"200": $gray-200,
"300": $gray-300,
"400": $gray-400,
"500": $gray-500,
"600": $gray-600,
"700": $gray-700,
"800": $gray-800,
"900": $gray-900),
$grays);

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(("blue": $blue,
"indigo": $indigo,
"purple": $purple,
"pink": $pink,
"red": $red,
"orange": $orange,
"yellow": $yellow,
"green": $green,
"teal": $teal,
"cyan": $cyan,
"white": $white,
"gray": $gray-600,
"gray-dark": $gray-800),
$colors);

$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;

$theme-colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$theme-colors: map-merge(("primary": $primary,
"secondary": $secondary,
"success": $success,
"info": $info,
"warning": $warning,
"danger": $danger,
"light": $light,
"dark": $dark),
$theme-colors);


/** Button **/

$btn-height-base: 38px;
$btn-padding-base-x: 18px;
$btn-font-size-base: 14px;

$btn-height-sm: 28px;
$btn-padding-sm-x: 15px;
$btn-font-size-sm: 12px;

$btn-height-lg: 48px;
$btn-padding-lg-x: 40px;
$btn-font-size-lg: 16px;

@mixin btn {
  height: $btn-height-base;
  padding-left: $btn-padding-base-x;
  padding-right: $btn-padding-base-x;
  font-size: $btn-font-size-base;

  &.btn-square,
  &.dropdown-toggle-split {
    width: $btn-height-base;
    @include padding-x(0);
    justify-content: center;
  }
}

@mixin btn-sm {
  height: $btn-height-sm;
  padding-left: $btn-padding-sm-x;
  padding-right: $btn-padding-sm-x;
  font-size: $btn-font-size-sm;

  &.btn-square,
  &.dropdown-toggle-split {
    width: $btn-height-sm;
    @include padding-x(0);
    justify-content: center;
  }
}

@mixin btn-lg {
  height: $btn-height-lg;
  padding-left: $btn-padding-lg-x;
  padding-right: $btn-padding-lg-x;
  font-size: $btn-font-size-lg;

  &.btn-square,
  &.dropdown-toggle-split {
    width: $btn-height-lg;
    @include padding-x(0);
    justify-content: center;
  }
}

@mixin content-title {
  font-weight: 500;
  font-size: .75rem;
  color: $text-secondary;
  line-height: 1.125rem;
  text-transform: uppercase;
  margin: 0;

  &+* {
    margin-top: .5rem;
  }
}