/** Radius Mixins **/
@mixin border-right-radius($radius) {
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin border-left-radius($radius) {
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin border-top-radius($radius) {
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin border-bottom-radius($radius) {
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin padding-x($paddingX) {
  padding-left: $paddingX;
  padding-right: $paddingX;
}

$space: 30px;
$space-half: 30px;

$blue: #1665D8 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #E6492D !default;
$orange: #F6AB2F !default;
$yellow: #FACF55 !default;
$green: #38B249 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;


// media
$mediaMobile: "screen and (max-width: 768px)";
$mediaTablet: "screen and (max-width: 1024px)";
$mediaDesktopSmall: "screen and (max-width: 1366px)";
$fontFamily: 'Roboto',
sans-serif;

// colors
$green: #38B249;
$blue: #1665D8;
$orange: #F6AB2F;
$violet: #6977FF;
$red: #E6492D;
$yellow: #FACF55;
$success: $green;
$primary: $blue;
$warning: $orange;
$error: $red;
// base color pairs
$colorPairs: (green, #38B249),
(blue, #1665D8),
(orange, #F6AB2F),
(violet, #6977FF),
(yellow, #FACF55),
(red, #E6492D);

// mixins
@mixin generateColorVariants($class, $property, $alpha) {

  @each $name,
  $color in (green, #38B249),
  (blue, #1665D8),
  (orange, #F6AB2F),
  (violet, #6977FF),
  (red, #E6492D) {
    #{$class}.#{$name} {
      #{$property}: rgba($color, $alpha);
    }
  }
}

@mixin textOverflow {
  overflow: hidden;
  white-space: nowrap;
}

@mixin backgroundCover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

// others
$boxShadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);

// UIKIT
$fontFamily: 'Roboto',
sans-serif;


@mixin themeVars {
  // text colors
  --text-main: #3E3F42;
  --text-adverse-main: white;
  --text-base: #6B6C6F;
  --text-adverse-base: #FBFBFD;
  --text-secondary: #9EA0A5;
  --text-tertiary: #CECFD2;

  // borders
  --border-color-base: #EAEDF3;
  --border-color-main: #D8DCE6;
  --border-color-adverse: #2E2E33;
  --border-color-secondary: #2D9C3C;

  // backgrounds
  --bg-base: #FBFBFD;
  --bg-primary: #FFFFFF;
  --bg-adverse-primary: #252529;


  --color-danger: #{$red};
  --color-primary: #{$blue};
  --color-secondary: #{$green};
  --color-success: #{$green};
  --color-warning: #{$orange};
  --gradient-secondary: linear-gradient(0deg, #34AA44 0%, #38B249 100%);
}

// USE THESE
$text-main: var(--text-main);
$text-adverse-main: var(--text-adverse-main);
$text-base: var(--text-base);
$text-adverse-base: var(--text-adverse-base);
$text-secondary: var(--text-secondary);
$text-tertiary: var(--text-tertiary);

$border-color-base: var(--border-color-base);
$border-color-main: var(--border-color-main);
$border-color-adverse: var(--border-color-adverse);
$border-color-secondary: var(--border-color-secondary);

$border-default-base: 1px solid var(--border-color-base);
$border-default-main: 1px solid var(--border-color-main);
$border-default-adverse: 1px solid var(--border-color-adverse);

$bg-base: var(--bg-base);
$bg-primary: var(--bg-primary);
$bg-adverse-primary: var(--bg-adverse-primary);

$color-danger: var(--color-danger);
$color-primary: var(--color-primary);
$color-success: var(--color-success);
$color-warning: var(--color-warning);
$color-secondary: var(--color-secondary);
$gradient-secondary: var(--gradient-secondary);



/** Button **/

$btn-height-base: 38px;
$btn-padding-base-x: 18px;
$btn-font-size-base: 14px;

$btn-height-sm: 28px;
$btn-padding-sm-x: 15px;
$btn-font-size-sm: 12px;

$btn-height-lg: 48px;
$btn-padding-lg-x: 40px;
$btn-font-size-lg: 16px;

@mixin btn {
  height: $btn-height-base;
  padding-left: $btn-padding-base-x;
  padding-right: $btn-padding-base-x;
  font-size: $btn-font-size-base;

  &.btn-square,
  &.dropdown-toggle-split {
    width: $btn-height-base;
    @include padding-x(0);
    justify-content: center;
  }
}

@mixin btn-sm {
  height: $btn-height-sm;
  padding-left: $btn-padding-sm-x;
  padding-right: $btn-padding-sm-x;
  font-size: $btn-font-size-sm;

  &.btn-square,
  &.dropdown-toggle-split {
    width: $btn-height-sm;
    @include padding-x(0);
    justify-content: center;
  }
}

@mixin btn-lg {
  height: $btn-height-lg;
  padding-left: $btn-padding-lg-x;
  padding-right: $btn-padding-lg-x;
  font-size: $btn-font-size-lg;

  &.btn-square,
  &.dropdown-toggle-split {
    width: $btn-height-lg;
    @include padding-x(0);
    justify-content: center;
  }
}

@mixin content-title {
  font-weight: 500;
  font-size: .75rem;
  color: $text-secondary;
  line-height: 1.125rem;
  text-transform: uppercase;
  margin: 0;

  &+* {
    margin-top: .5rem;
  }
}