@import '@duik/core/_vars.scss';

.top-bar-link {
  height: 38px;
  line-height: 38px;
  padding: 0 15px;
  display: block;
  cursor: pointer;
  font-size: .875rem;
  color: $text-main;

  &:hover,
  &.active {
    color: $color-primary;
  }
}