@import '@duik/core/_vars.scss';

.scroll-area {
  min-height: 1px;
  max-height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.scroll-area-x-overflow-hack {
  padding-left: 100vw;
  padding-right: 100vw;
  margin-left: -100vw;
  margin-right: -100vw;
}
