@import '../vars.scss';

.nav-section-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75rem;
  color: $textSecondary;
  line-height: 1.5;
  display: block;
  padding: 10px 30px;
}